<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- BootstrapIcons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!-- Optional CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">

    <title>Return HTTP Status Code</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h1>Return HTTP Status Code</h1>
            </div>
            <div class="col-sm-3">
                <a href="https://github.com/mitty1293/return-http-status-code" class="btn btn-outline-dark"
                    target="_blank">
                    <bi class="bi-github"> Github</bi>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <h2>Overview</h2>
                <p>求めるHTTPステータスコードを返してくれます。</p>
                <h2>Usage</h2>
                <p><code>[http_status_code]</code>に任意のステータスコードを入力して以下にアクセスしてください。</p>
                <pre>http://returncode.fmitty.net/[http_status_code]</pre>
                <p>例えば <code>http://returncode.fmitty.net/500</code> は <code>500 Internal Server Error</code> を返します。</p>
                <p>Code List に記載のないステータスコードを指定した場合、 <code>Unknown</code>を返します。</p>
                <pre>
                        $ curl -I http://returncode.fmitty.net/500
                        HTTP/1.1 500 INTERNAL SERVER ERROR
                        Server: nginx/1.20.1
                        Date: Tue, 13 Jul 2021 15:16:34 GMT
                        Content-Type: text/html; charset=utf-8
                        Content-Length: 0
                        Connection: keep-alive

                        $ curl -I http://returncode.fmitty.net/299
                        HTTP/1.1 299 UNKNOWN
                        Server: nginx/1.20.1
                        Date: Fri, 20 May 2022 13:14:42 GMT
                        Content-Type: text/html; charset=utf-8
                        Content-Length: 11
                        Connection: keep-alive
                </pre>
                <h2>Code List</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Status Code</th>
                            <th>Reason-Phrase</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in status_lines %}
                        <tr>
                            <th>{{line.value}}</th>
                            <td>{{line.phrase}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>