body { 
    margin: 2%;
    font-family: "Raleway","Aria","Yu Gothic",sans-serif;
}

.container{
    width: 1000px;
}

pre{
    color: white;
    background: black;
    padding: 1rem;
    white-space: pre-line;
}

table{
    font-family: SFMono-Regular,Menlo,Monaco,Consolas;
}