*, *:before, *:after{
    box-sizing: border-box;
}
body { 
    margin-top: 2%;
    font-family: "Raleway","Aria","Yu Gothic",sans-serif;
}
pre{
    color: white;
    background: black;
    padding: 1rem;
    white-space: pre-line;
}
table{
    font-family: SFMono-Regular,Menlo,Monaco,Consolas;
}